/* BASIC STYLES HERE */
.profile-img {
    object-fit: cover;
    object-position: center;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.button-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    object-position: center;
}